
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Team 5's BugTracker</h1>
    <p>Sign in to the <a href="http://localhost:5001/user/User">User's Page</a>.</p>

<!--<form action="/">-->
</div>
