@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Team 5's BugTracker</h1>
    <p>Sign in to the <a href="https://localhost:5001/user/UserPage">User's Page</a>.</p>
</div>
