<h2>Add Project</h2>

<div>
  <form #projectForm="ngForm">
    <div>
      <label for="Title">Title</label>
      <input type="text" id="title" name="title" [(ngModel)]="model.title">
    </div>
    <div>
      <label for="Description">Description</label>
      <input type="text" id="description" name="description" [(ngModel)]="model.description">
    </div>
    <div>
      <label for="ManagerId">ManagerId</label>
      <select id="manager" [(ngModel)]="model.manager.userId" name="manager" #manager.userId="ngModel">
        <option *ngFor="let manager of managerList" [value]="manager">{{manager}}</option>
      </select>
    </div>
    <div>
      <button type="button" (click)="add(); projectForm.reset()">Add</button>
    </div>
  </form>
</div>
<hr />
