<h2>Add Project</h2>

<div>
  <form #ticketForm="ngForm">
    <div>
      <label for="Submitter">Enter your name</label>
      <input type="text" id="manager" name="manager" [(ngModel)]="model.submitter">
    </div>
    <div>
      <label for="Title">Ticket Title</label>
      <input type="text" id="title" name="title" [(ngModel)]="model.title">
    </div>
    <div>
      <label for="Description">Description</label>
      <input type="text" id="description" name="description" [(ngModel)]="model.description">
    </div>
    <div>
      <label for="Dev">Assign a Developer</label>
      <select id="dev" [(ngModel)]="model.dev" name="dev" #dev="ngModel">
        <option *ngFor="let dev of developers" [value]="dev">{{dev}}</option>
      </select>
    </div>
    <div>
      <label for="Priority">Ticket Priority</label>
      <select id="priority" [(ngModel)]="model.priority" name="priority" #priority="ngModel">
        <option *ngFor="let priority of priorityList" [value]="priority">{{priority}}</option>
      </select>
    </div>
    <div>
      <label for="Status">Ticket Status</label>
      <select id="status" [(ngModel)]="model.status" name="status" #status="ngModel">
        <option *ngFor="let status of statusList" [value]="status">{{status}}</option>
      </select>
    </div>
    <div>
      <label for="Type">Ticket Type</label>
      <select id="type" [(ngModel)]="model.type" name="type" #type="ngModel">
        <option *ngFor="let type of typeList" [value]="type">{{type}}</option>
      </select>
    </div>
    <div>
      <button type="button" (click)="add(); ticketForm.reset()">Add</button>
    </div>
  </form>
</div>
<hr/>